.news-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: auto; 
  }
  
  .news-table th, .news-table td {
    border: 1px solid #ddd;
    padding: 8px;
    word-wrap: break-word;
    /*width: 50%;*/
  }
  
  .news-table th {
    background-color: #f2f2f2;
    text-align: center;
  }
  
  .news-table-no th {
    width: 5%;
    text-align: center;
  }

  .news-table-data th {
    width: 30%;
  }

  .news-table-rno tr {
    width: 5%;
    text-align: right;
  }

  .news-table tr:hover {
    background-color: #f1f1f1;
  }
  

  .news-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination-container button {
    margin: 0 10px;
  }
  
  .pagination-container span {
    font-size: 16px;
    margin: 0 10px;
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
  }
  
  .search-input {
    width: 50%;
    padding: 10px 15px;
    font-size: 18px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    box-shadow: none;
    outline: none;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .search-input:focus {
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  }
  
  .search-button {
    padding: 10px 20px;
    font-size: 14px;
    color: #5f6368;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .search-button:hover {
    background-color: #f1f3f4;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .search-button:focus {
    outline: none;
  }